In [1]:
import numpy as np
import pandas as pd

In [47]:
cohort_ml_df = pd.read_csv('ML+C5+Know+Your+Cohort.csv')
cohort_ml_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 9 columns):
YearsOfExp        206 non-null object
CompanyName       203 non-null object
Title             206 non-null object
Field of Study    204 non-null object
Major             206 non-null object
School Name       206 non-null object
Gender            190 non-null object
City              206 non-null object
State             18 non-null object
dtypes: object(9)
memory usage: 7.3+ KB

In [48]:
cohort_ml_df.describe()

,YearsOfExp,CompanyName,Title,Field of Study,Major,School Name,Gender,City,State
count,206,203,206,204,206,206,190,206,18
unique,12,157,55,53,11,153,4,50,5
top,10+,Infosys Ltd.,Software Developer,Computer Science / Engineering,B.E,Visvesvaraya Technological University,male,Bengaluru,Karnataka
freq,83,12,42,48,89,11,142,71,14

In [17]:
#Replace the vaue '10+' in 'YearsOfExp' to '10'
cohort_ml_df.loc[cohort_ml_df['YearsOfExp']=='10+','YearsOfExp']=10
cohort_ml_df

,YearsOfExp,CompanyName,Title,Field of Study,Major,School Name,Gender,City,State
0,10,Ford,Delivery Manager,Computer Science / Engineering,B.E,Chaudhary Charan Singh University,Male,Chennai,NaN
1,10,NaN,Project Manager,Computer Applications,MCA,Alagappa University,male,Bengaluru,Karnataka
2,10,Vmware,Team Lead,Electronics & Instrumentation Engineering,B.E,Gandhi Institute of Technology and Management,male,Bengaluru,Karnataka
3,6,Cerner Corporations,Software Developer,Computer Science / Engineering,B.Tech,Biju Patnaik University of Technology,male,Bengaluru,Karnataka
4,10,Ford,Delivery Manager,Computer Science / Engineering,B.E,University of Mumbai,male,Pune,NaN
5,10,JP Morgan,Analyst,BSc Computers,BSc,Osmania University,female,Hyderabad,NaN
6,2,makarand_deshpande@outlook.com,Software and DevOps Engineer,Computer Application,BCA,Indira Gandhi National Open University,male,Kalyan,NaN
7,10,GE TRANSPORTATION,Delivery Manager,Electrical Engineering,B.E,The Maharaja Sayajirao University of Baroda,male,Bengaluru,Karnataka
8,3,ATCS,Consultant,Computer Science / Engineering,B.Tech,swami keshwanand institute of technology,male,Jaipur,NaN
9,3,Infosys Ltd.,Senior System Engineer,Electronics & Electrical Engineering,B.Tech,Institute of Technical Education & Research,male,Hyderabad,NaN
10,4,Reliance Games,Software Developer,Electrical Engineering,B.Tech,"National Institute of Technology, Raipur",male,PUNE,NaN
11,10,Cognizant Technology Solutions India Pvt Ltd,Director,Computer Science / Engineering,B.E,Birla Institute of Technology,Female,Gurgaon,NaN
12,5,JP Morgan,DevOps Engineer,Computer Science / Engineering,B.Tech,Vignan's University,male,hyderabad,NaN
13,7,Royal Bank Of Scotland,Tech Lead,Mathematics,BSc,Chhatrapati Shahu Ji Maharaj University,male,Gurugram,NaN
14,3,General Electric,Data Analyst,Mechanical Engineering,B.Tech,Maulana Abul Kalam Azad University of Technology,Male,Bengaluru,Karnataka
15,10,Affinity.com,VP,Computer Science / Engineering,B.E,Parshwanath College of Engineering,male,Mumbai,NaN
16,10,Intel Corporation,Software Developer,Electronics Engineering,B.E,North Maharashtra University,male,Bangalore,Karnataka
17,3,Exl Analytics,Analyst,Software Development / Engineering,B.Tech,SRM University,male,Noida,Uttar Pradesh
18,10,not provided,Data Scientist,Civil Engineering,B.E,Savitribai Phule Pune University,male,Pune,NaN
19,6,panalpina,Software Developer,Electronics & Electrical Engineering,B.Tech,"Jawaharlal Nehru Technological University, Kak...",male,Erlangen,NaN
20,4,Perficient,Consultant,Computer Science / Engineering,B.E,Anna University,male,Chennai,NaN
21,10,Accolite,Tech Lead,Mathematics,BSc,University of Delhi,male,Gurugram,NaN
22,4,MIQ Digital India Private Limited,Full Stack Developer,Information & Communication Technology,B.Tech,Manipal Institute of Technology,male,BANGALORE,Karnataka
23,8,kvsriki@gmail.com,Analyst,Computer Science / Engineering,B.Tech,"ICFAI University, Dehradun",male,Bangalore,Karnataka
24,10,nihit2004@gmail.com,Data Analyst,Mechanical Engineering,B.Tech,"Malaviya National Institute of Technology, Jaipur",male,Singapore,NaN
25,2,Oracle,Build and Release Engineer,Electronics & Electrical Engineering,B.Tech,JNTUK,male,Hyderabad,NaN
26,5,No,QA Engineer,Mining Engineering,B.E,"Bengal Engineering and Science University,Shibpur",male,Kolkata,NaN
27,3,Sai Vidya Institute of Engineering and Technology,Asst. Professor,Electronics & Communication Engineering,B.E,PES University,male,Bengaluru,Karnataka
28,7,scry analytics,Data Scientist,Electronics & Communication Engineering,B.Tech,Dr. A.P.J. Abdul Kalam Technical University,male,New Delhi,NaN
29,10,not provided,Consultant,Information & Technology,B.E,Biju Patnaik University of Technology,male,Bangkok,NaN
...,...,...,...,...,...,...,...,...,...
176,10,Altra,Project Manager,Electronics & Communication Engineering,B.E,Kuvempu University,female,Bangalore,NaN
177,0,Goa Engineering College,0,BE,0,Goa Engineering College,Female,Ponda,NaN
178,10,Cognizant Technology Solutions India Pvt Ltd,Project Manager,Computer Science / Engineering,B.Tech,Jawaharlal Nehru Technological University,male,Hyderabad,NaN
179,5,Onstak,Cloud Engineer,Science,12th,"GSKV,Laxmi nagar",male,110092,NaN
180,1,Capgemini India Pvt Limited,Software Developer,Electronics & Communication Engineering,B.Tech,"Jawaharlal Nehru Technological University, Kak...",male,Bengaluru,NaN
181,6,Appfire Technologies,Software Developer,Electronics & Telecommunication Engineering,B.Tech,Trident Academy of Technology,male,Toronto,NaN
182,6,Wells Fargo India Solutions Pvt Ltd,Software Developer,Computer Science / Engineering,B.Tech,University of Kerala,female,Bengaluru,NaN
183,7,anirudhbabshet007@gmail.com,Tech Lead,Computer science and engineering,B.E,Sri Venkateswara College Of Engineering,male,Bengaluru,NaN
184,10,Larsen & Toubro Ltd.,Technical Architect,Mathematics,BSc,Berhampur University,male,Houston,NaN
185,7,laku2811@gmail.com,Software Developer,Electronics & Communication Engineering,B.E,Visvesvaraya Technological University,male,Bangalore,NaN
186,9,Oracle,Automated Testing,Electronics and Communications,B.E,Vishweshwarya Instintute of Technology,male,Bengaluru,NaN
187,5,TCS,QA Engineer,MPC,B.Tech,Sri chaitanya junior college,Male,Hyderabad,NaN
188,8,"SRI VENKATESHWARA COLLEGE OF ENGINEERING, BANG...","Assistant Professor, Department of Computer Sc...",Computer Science / Engineering,B.E,Rural engineering College Hulkoti,male,Bengaluru,NaN
189,10,Infosys Ltd.,Data Scientist,Chemical Engineering,B.Tech,Indian Institute of Technology Bombay,Male,Pune,NaN
190,10,Infosys Ltd.,Data Scientist,Electronics & Instrumentation Engineering,B.E,"College of Engineering and Management, Kolagha...",NaN,Pune,NaN
191,10,AtosSyntel,ETL & Data Warehousing Developer,Electronics & Telecommunication Engineering,B.Tech,"Chotu Ram State College of engineering, Murtha...",NaN,Gurugram,NaN
192,10,Harman International,"Sr. Engineering Manager , SW",Electronics & Communication Engineering,B.E,Rajiv Gandhi Proudyogiki Vishwavidyalaya,NaN,Bengaluru,Karnataka
193,10,Thomson Reuters,Technical Architect,Computer Application,BCA,Sri Venkateswara University,NaN,Bengaluru,NaN
194,4,abhinaba.1992@gmail.com,Machine Learning Engineer,Computer Applications,BCA,"Institute of Engineering and Management, Kolkata",NaN,Navi Mumbai,NaN
195,0,PhonePe,0,MCA,0,MIET,NaN,"Bangalore, Karnataka, India",NaN
196,5,Aditya Birla Fashion and Retail Ltd,Delivery Manager,Computer Science / Engineering,B.Tech,Uttarakhand Technical University,NaN,Mumbai,NaN
197,5,Vmware,Automated Testing,Electronics & Electrical Engineering,B.E,Visvesvaraya Technological University,NaN,Chennai,NaN
198,5,Vmware,Automated Testing,Computer Science / Engineering,B.Tech,SRM University,NaN,Chennai,NaN
199,7,utkarshshinde279@gmail.com,Tech Lead,Computer Science / Engineering,B.E,Malwa Institute of Engineering,NaN,Bangalore,NaN
200,7,gilbertvijaydhas@gmail.com,Tech Lead,Computer Science / Engineering,B.Tech,Jawaharlal Nehru Technological University,NaN,Hyderabad,NaN
201,10,abhijeet.nalawade@gmail.com,Software Developer,Electronics and telecommunication,B.E,Mumbai University,NaN,Mumbai,NaN
202,10,Aricent,Software Developer,Accounting & Auditing,B.Com,Devi Ahilya Vishwavidyalaya,NaN,Noida,NaN
203,10,jjs_anand@yahoo.com,Sr. Audit Officer,Mathematics,BSc,University of Madras,NaN,Bangalore,NaN
204,10,EPAM,ETL & Data Warehousing Developer,Computer Science / Engineering,B.E,Anna University,NaN,London,NaN
205,10,Harman International,Project Lead,Electronics & Communication Engineering,B.E,Bhilai Institue of Technology Durg,NaN,Bangalore,NaN

In [20]:
#What is the average experience (approx.) of this cohort
cohort_ml_df['YearsOfExp']=cohort_ml_df['YearsOfExp'].astype(int) #Changing the data type of 'YearsOfExp' column from string to int
cohort_ml_df['YearsOfExp'].mean()

6.684466019417476

In [27]:
#How many students of this cohort have more than 10 years of experience (approx.)?
count = cohort_ml_df.loc[cohort_ml_df['YearsOfExp']>=10,'YearsOfExp'].count()
perc = (count / cohort_ml_df['YearsOfExp'].count() ) * 100
print (count)

86

In [39]:
#What is the share of female candidates in this cohort (choose the nearest value) ?
totalStudents = cohort_ml_df['Gender'].count()
totalStudents
femaleStudents = cohort_ml_df.loc[cohort_ml_df['Gender'].notnull() & 
                          ((cohort_ml_df['Gender']=='female') | (cohort_ml_df['Gender']=='Female'))
                          ,'Gender'].count()
femaleStudents
percFemaleStudents = (femaleStudents /totalStudents) * 100
print (percFemaleStudents)

15.789473684210526

In [57]:
#Find the approximate percentage of students from Bangalore
cohort_ml_df.head()
cohort_ml_df['City ']=cohort_ml_df['City '].str.upper()
studentsInBL = cohort_ml_df.loc[(cohort_ml_df['City ']=='BANGALORE') | (cohort_ml_df['City ']=='BENGALURU'),'City '].count()
percStudInBL = (studentsInBL / totalStudents) * 100
print (percStudInBL)

55.78947368421052

In [59]:
#Which city has the second highest number of learners in the cohort?
citygrps= cohort_ml_df.groupby('City ')
print(citygrps.agg(np.size))

                             YearsOfExp  CompanyName  Title  Field of Study  \
City
0                                     5            5      5               5
110092                                1            1      1               1
ANDHERI                               1            1      1               1
BANGALORE                            30           30     30              30
BANGALORE, KARNATAKA, INDIA           1            1      1               1
BANGKOK                               1            1      1               1
BENGALURU                            76           76     76              76
BHOPAL                                1            1      1               1
BHUBANESWAR                           2            2      2               2
CHENNAI                               9            9      9               9
DELHI                                 1            1      1               1
DUBAI                                 1            1      1               1
EDINBURGH                             2            2      2               2
ERLANGEN                              1            1      1               1
FARIDABAD                             1            1      1               1
GHAZIABAD                             2            2      2               2
GURGAON                               1            1      1               1
GURUGRAM                              4            4      4               4
HONG KONG                             1            1      1               1
HOUSTON                               1            1      1               1
HYDERABAD                            20           20     20              20
JAIPUR                                1            1      1               1
JERSEY CITY                           1            1      1               1
KALYAN                                1            1      1               1
KOLKATA                               2            2      2               2
LANSING                               1            1      1               1
LONDON                                2            2      2               2
MILPITAS                              1            1      1               1
MOHALI                                1            1      1               1
MUMBAI                                7            7      7               7
NAVI MUMBAI                           2            2      2               2
NEW DELHI                             5            5      5               5
NOIDA                                 2            2      2               2
PONDA                                 1            1      1               1
PORT AU PRINCE                        1            1      1               1
PUNE                                 12           12     12              12
SINGAPORE                             1            1      1               1
THIRUVANANTHAPURAM                    1            1      1               1
TORONTO                               1            1      1               1
UNIXLINUX                             1            1      1               1

                             Major  School Name  Gender  State
City
0                                5            5       5      5
110092                           1            1       1      1
ANDHERI                          1            1       1      1
BANGALORE                       30           30      30     30
BANGALORE, KARNATAKA, INDIA      1            1       1      1
BANGKOK                          1            1       1      1
BENGALURU                       76           76      76     76
BHOPAL                           1            1       1      1
BHUBANESWAR                      2            2       2      2
CHENNAI                          9            9       9      9
DELHI                            1            1       1      1
DUBAI                            1            1       1      1
EDINBURGH                        2            2       2      2
ERLANGEN                         1            1       1      1
FARIDABAD                        1            1       1      1
GHAZIABAD                        2            2       2      2
GURGAON                          1            1       1      1
GURUGRAM                         4            4       4      4
HONG KONG                        1            1       1      1
HOUSTON                          1            1       1      1
HYDERABAD                       20           20      20     20
JAIPUR                           1            1       1      1
JERSEY CITY                      1            1       1      1
KALYAN                           1            1       1      1
KOLKATA                          2            2       2      2
LANSING                          1            1       1      1
LONDON                           2            2       2      2
MILPITAS                         1            1       1      1
MOHALI                           1            1       1      1
MUMBAI                           7            7       7      7
NAVI MUMBAI                      2            2       2      2
NEW DELHI                        5            5       5      5
NOIDA                            2            2       2      2
PONDA                            1            1       1      1
PORT AU PRINCE                   1            1       1      1
PUNE                            12           12      12     12
SINGAPORE                        1            1       1      1
THIRUVANANTHAPURAM               1            1       1      1
TORONTO                          1            1       1      1
UNIXLINUX                        1            1       1      1